/* ========== GLOBAL ========== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* ========== LOADING ========== */
.loading {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
}

/* ========== NAVBAR ========== */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.nav-right span {
  cursor: pointer;
  font-size: 14px;
}

.logout {
  color: red;
}

/* DASHBOARD */
.dashboard {
  text-align: center;
  padding: 30px;
}

.welcome-text {
  font-size: 24px;
  margin-bottom: 20px;
}

/* ACCOUNT CARD  */
.account-card {
  width: 400px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.account-info p {
  margin: 5px 0;
}

.balance {
  font-size: 26px;
  color: green;
  margin-top: 10px;
}

/* ACTION BUTTONS  */
.actions {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.actions button {
  padding: 15px 20px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}
 button:hover {
background-color: #658beb;
}

/* ========== TRANSACTION FORM ========== */
.txn-container {
  width: 400px;
  margin: 40px auto;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.txn-form label {
  display: block;
  margin-bottom: 5px;
}

.txn-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.txn-form button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.message {
  text-align: center;
  margin-top: 10px;
}

/* ========== PROFILE PAGE ========== */
.profile-container {
  width: 400px;
  margin: 40px auto;
}

.profile-card,
.profile-form {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.profile-card button,
.profile-form button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}


.mini-container {
  width: 90%;
  margin: 30px auto;
}

.mini-user-info {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.mini-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.mini-table th,
.mini-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.credit {
  color: green;
}

.debit {
  color: red;
}


.header {
  height: 100px;
  background-color: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 350px;
  margin: 40px auto;
  background-color: white;
  padding: 25px;
  border-radius: 6px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
